In [3]:
print('Hello, world')

Hello, world

In [16]:
test='hello'
print(test)
type(test)

hello

str

In [27]:
# numeric types come in two forms
# integers and floats

# integer 
number =10
# float
float = 5.4

type(float)

float

### Operators

In [34]:
36/6

6.0

## Python Collections

In [2]:
# list
my_list = ['1',3.2,2]
for i in my_list:
    print(type(i))

<class 'str'>
<class 'float'>
<class 'int'>

In [6]:
print(my_list[1:])

[3.2, 2]

In [20]:
#dict

my_dict = {'one':1,'two':2,'three':3}
print(my_dict['two'])

2